 //Para obtener color

 @function color($color) {
  @return map-get($colors,$color);
}

// Paleta de colores

$colors:(
  primary: #337752,
  secondary: #d7c04c,
  success: #79950e,
  alert: #bb0e0e,
  everglade: #214030,
  everglade2: #1b4532,
  satin: #e9e7dc,
  persian: #ca3f2f,
  amulet: #83aa76,
  granny: #869a9c,
  valencia: #cf3227,
  tobaco: #6e5247,
  shark: #1b1b1c,
  tacha: #d3c558,
  bg: #e5e5e5,
  bg-item: #ffffff,
  cta: #fc7405,
);

 // Con esta función, para capturar el color bastaria poner, por ejemplo:
 //
 // div{
 //   background: color(gris-claro);
 // }
