// Variables para maquetación

$ancho-maximo: 1400px; //de todo el sitio
$espacio-entre-letras: 1px;
$altura-header: 5rem; //revisar
$margen-secciones: 2rem;

// Sombras

$shadow-flat: 7px 7px 12px rgba(0, 0, 0, 0.575);
$shadow-blur: 10px 10px 10px rgba(0, 0, 0, 0.575);

// Degradados

$degradado-menu: linear-gradient(10deg, rgb(51, 119, 82), rgb(33, 64, 48));

$degradado-header: linear-gradient(to right, #0A1C20, #1B5441, #3D8659, #154B3E, #174E51);

:root{
  // ancho maximo de lo visible para desktop
  --main-maximo: 95%;
  // margenes
  --margen-header: 2rem;
  // Columnas container
  --columns-aside: 1fr;
  --columns-container-central: 1fr;
  --columns-container-grid2: 1fr;
  --columns-container-grid3: 1fr;
  --columns-container-grid4: 1fr;
  --columns-header-container: 1fr;
  --columns-main-container: 1fr;
  --columns-footer-container: 1fr;
  // gap de los container
  --gap-aside: .5rem;
  --gap-container-grid: .5rem;
  --gap-container-central: 1rem;
  // Columnas box
  --columns-box-icon: 1fr;
  // tamaño de fuentes
  --font-size-titulo: 1.7rem;
  --font-size-subtitulo: 1.4rem;
  --font-size-parrafos: .9rem;
  --font-size-small-text: .9rem;
  --font-size-link-text: 1rem;
  --size-icon: 1.7rem;
  // Ancho del logo
  --ancho-logo: 25%;
  --linea-header: 0;
  @include mq(smH){
    --ancho-logo: 13%;
  }
  @include mq(smm){
    --ancho-logo: 22%;
  }
  @include mq(md){
    --font-size-parrafos: 1rem;
    --ancho-logo: 13%;
  }
  @include mq(mdl){
    --main-maximo: 80%;
    --linea-header: 1px;
    --columns-container-central: 1fr minmax(min-content, max-content);
  }
  @include mq(lgs){
    --gap-container-grid: 1rem;
    --ancho-logo: 10%;
  }
  @include mq(lgm){
    --ancho-logo: 8%;
  }
}
