// Variables para maquetación

$ancho-maximo: 1400px; //de todo el sitio
$espacio-entre-letras: 1px;
$altura-header: 5rem; //revisar
$margen-secciones: 2rem;

// Sombras

$shadow-flat: 7px 7px 12px rgba(0, 0, 0, 0.575);
$shadow-blur: 10px 10px 10px rgba(0, 0, 0, 0.575);

// Degradados

$degradado-menu: linear-gradient(10deg, rgb(73, 175, 119), rgb(33, 64, 48));

$fondo-footer: linear-gradient(10deg, rgb(22, 58, 38), rgb(47, 94, 70));

$degradado-header: linear-gradient(to right, #0A1C20, #1B5441, #3D8659, #154B3E, #174E51);

:root{
  // ancho maximo de lo visible para desktop
  --main-maximo: 95%;
  //ancho minimo del sidebar
  --widgets-width: 95%;
  @include mq(mdl){
    --main-maximo: 90%;
    --widgets-width: 40%;
  }
  @include mq(lgs){
    --widgets-width: 350px;
  }
}

:root{
  //columnas y filas
  --columns-header-container: 1fr;
  --columns-main-container: 1fr;
  --columns-container-central: 1fr;
  --columns-aside: 1fr;
  --columns-footer-container: 1fr;
  --columns-container-grid2: 1fr;
  --columns-container-grid3: 1fr;
  --columns-container-grid4: 1fr;
  --columns-box-icon: 1fr;
  --columns-footer-widgets: 1fr;
  --columns-tienda-products: 1fr;
  --columns-related-products: 1fr;
  //card-copy
  --columns-card-copy: 1fr;
  --rows-card-copy: 1fr 1fr;
  @include mq(md){
    --columns-card-copy: 1fr 1fr;
    --rows-card-copy: none;
    --columns-footer-widgets: repeat(3, 1fr);
    --columns-tienda-products: 1fr 1fr;
  }
  @include mq(mdl){
    --columns-container-central: 1fr minmax(min-content, max-content);
    --columns-tienda-products: repeat(2, 1fr);
  }
  @include mq(lgs){
    --columns-tienda-products: repeat(3, 1fr);
  }
}

:root{
  // gap de los container
  --gap-aside: .5rem;
  --gap-container-grid: .5rem;
  --gap-card-copy: .25rem;
  @include mq(lgs){
    --gap-container-grid: 1rem;
  }
}

:root{
  //margenes y lineas (before o after)
  --margen-header: 1.5rem;
  --linea-header: 0;
  --lineas-footer-widgets: 0;
  --lineas-titulo-tienda: 0;
  @include mq(mdl){
    --linea-header: 1px;
    --lineas-footer-widgets: 1px;
  }
  @include mq(lgs){
    --lineas-titulo-tienda: 1px;
  }
}

:root{
  // tamaño de fuentes
  --font-size-titulo: 1.7rem;
  --font-size-titulo-tienda: 1.4rem;
  --font-size-subtitulo: 1.4rem;
  --font-size-parrafos: .9rem;
  --font-size-small-text: .9rem;
  --font-size-link-text: 1rem;
  --size-icon: 1.7rem;
  --font-size-aside-subtitle: 1.3rem;
  --font-size-widgets-footer-title: 1.2rem;
  --font-size-widgets-footer-subtitle: 1rem;
  --font-size-product-span: .9rem;
  --font-size-carrito-subtitle: .8rem;
  --font-size-final-compra: .9rem;
  @include mq(smm){
    --font-size-widgets-footer-title: 1.3rem;
    --font-size-product-span: 1.1rem;
  }
  @include mq(md){
    --font-size-parrafos: 1rem;
    --font-size-widgets-footer-title: 1.4rem;
    --font-size-product-span: 1rem;
    --font-size-widgets-footer-subtitle: 1.1rem;
    --font-size-carrito-subtitle: .9rem;
  }
  @include mq(lgs){
    --font-size-final-compra: 1rem;
    --font-size-titulo-tienda: 1.7rem;
  }
}

:root{
  //padding
  --padding-box-creditos: .25rem 0;
  --padding-footer-widgets-item: .5rem;
  @include mq(md){
    --padding-box-creditos: .5rem 0;
  }
  @include mq(lgs){
    --padding-footer-widgets-item: 1rem;
  }
}
