// Para la plantilla que muestra cada uno de los productos

.product.type-product{ //contenedor
  width: 95%;
  margin: auto;
  // border: 2px solid red;
}

.woocommerce-notices-wrapper{
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
  & .woocommerce-message > a{
    @include btn-wc;
  }
}


// div.woocommerce-product-gallery{ //imagen del producto
//   // border: 2px solid red;
// }
.summary.entry-summary{ //Tarjeta de producto
  // border: 2px solid blue;
  & h1.product_title{
    @include titulo(color(everglade));
    text-align: center;
    @include mq(lgs){
      text-align: start;
    }
  }
  & p.price{
    padding: .5rem 0;
    & span{
      color: color(shark);
    }
  }
  & .woocommerce-product-details__short-description{
    margin-bottom: 1rem;
  }
  & form.variations_form.cart{
    // background-color: green;
    & table.variations{
      & tbody{
        margin: 0;
      }
      & tr{
        display: flex;
        width: 100%;
        // border: 2px solid red;
        justify-content: space-between;
        height: auto !important;
        & td.label{
          padding-right: .5rem;
          height: 2.5rem;
          line-height: 2.5rem;
          color: color(shark);
        }
        & td.value{
          display: flex;
          // border: 2px solid blue;
          width: 90%;
          height: 2.5rem;
          & select{
            border: 1px solid color(secondary);
            outline: none;
            background-color: white;
            margin-right: 0;
            border-radius: 7px;
          }
        }
      }
    }
    & .single_variation_wrap{
      & .woocommerce-variation.single_variation{
        background-color: color(everglade);
        margin-right: 2rem;
        padding: 1rem;
        margin-bottom: 1rem;
        & .woocommerce-variation-description p{
          font-size: 1.3rem;
          color: white;
          text-align: center;
        }
        & .woocommerce-variation-price{
          text-align: center;
          & span.woocommerce-Price-amount.amount{
            font-size: 1.5rem;
          }
          & span.woocommerce-Price-currencySymbol.amount.mcmp-general-price-suffix{
            // border: 2px solid red;
            color: color(secondary);
          }
        }
        & .woocommerce-variation-availability p{
          text-align: center;
          font-size: 1.1rem;
        }
      }
      & .woocommerce-variation-add-to-cart.variations_button{
        display: grid;
        grid-template-columns: repeat(minmax(min-content, max-content), 5);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: " . minus caja plus . "
                             "boton boton boton boton boton";
        grid-gap: 1rem .5rem;
        @include mq(lgs){
          grid-template-areas: "minus caja plus . boton";
          grid-template-rows: 1fr;
          grid-gap: 0;
        }
        & div:first-child{
          display: none;
        }
        & > div{
          height: 2.4rem;
        }
        & .quantity{
          margin: 0 4px;
          grid-area: caja;
          & input.input-text.qty{
            border: 1px solid color(secondary);
            width: 100%;
            height: 100%;
            line-height: 100%;
          }
        }
        & button.minus, button.plus{
          background-color: color(amulet);
          border: none;
          color: white;
          font-size: 1.5rem;
          font-weight: 800;
          outline: none;
          &:hover{
            background-color: darken(color(amulet),8);
          }
          &:active{
            transform: scale(.95);
          }
        }
        & button.minus{
          grid-area: minus;
        }
        & button.plus{
          grid-area: plus;
        }
        & button.single_add_to_cart_button{
          grid-area: boton;
          background-color: color(success);
          margin: 0 2rem;
        }
      }
    }
  }
  & .product_meta{
    display: grid;
    grid-template-columns: 1fr;
    & span.sku_wrapper{
      color: color(everglade);
      & .sku{
        color: color(secondary);
      }
    }
    & span.posted_in{
      color: color(everglade);
      & a{
        color: color(success);
      }
    }
    & span.tagged_as{
      color: color(everglade);
      & a{
        color: color(success);
      }
    }
  }
}

.woocommerce-tabs.wc-tabs-wrapper{ //descripcion producto
  & ul.tabs.wc-tabs li.description_tab{
    & a{
      color: color(amulet);
    }
  }
  & ul.tabs.wc-tabs li.description_tab.active{
    & a{
      color: color(everglade);
    }
  }
  & ul.tabs.wc-tabs li.additional_information_tab{
    & a{
      color: color(amulet);
    }
  }
  & ul.tabs.wc-tabs li.additional_information_tab.active{
    & a{
      color: color(everglade);
    }
  }
  & .woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab{
    // border: 1px solid red;
    & h2{
      @include sub-titulo(color(everglade));
      padding: .5rem 0;
    }
    & p{
      @include parrafo(color(shark));
    }
  }
  & .woocommerce-Tabs-panel.woocommerce-Tabs-panel--additional_information.panel.entry-content.wc-tab{
    // border: 2px solid red;
    & h2{
      @include sub-titulo(color(everglade));
      padding: .5rem 0;
    }
    & table.woocommerce-product-attributes.shop_attributes{
      // border: 2px solid green;
      & th, td{
        color: color(shark);
      }
    }
  }
}

section.related.products{ //productos relacionados
  & h2{
    @include sub-titulo(color(everglade));
    padding: .5rem 0;
  }
  & ul.products.columns-4{
    display: grid;
    grid-template-columns: var(--columns-related-products);
    grid-gap: 1rem;
    &::before{
      display: none;
    }
    & > li{
      width: 100%;
      background-color: color(bg);
      padding-bottom: 1rem;
      & a.button.add_to_cart_button{
        display: block;
        width: 80%;
        margin: auto;
        background-color: color(success);
        color: white;
      }
    }
    & li a span.price{
      // border: 2px solid red;
      text-align: center;
      & > span{
        color: color(shark);
      }
    }
  }
}

a.reset_variations{
  color: color(alert);
  padding: 0 .5rem;
  line-height: 2.5rem;
  font-weight: 800;
  &:hover{
    color: darken(color(alert),5);
  }
}
