.content-area{
  border: 1px solid color(secondary);
  width: 100%;
  box-shadow: $shadow-flat;
  border-radius: 10px;
}

.site-main{
  padding: 0 1rem;
  max-width: 100%;
  // background-color: color(fondo);
  & nav.woocommerce-breadcrumb{
    // border: 2px solid red; //menu migas
    padding: .5rem 0;
  }
  // & header.woocommerce-products-header{ //titulo
  //   // border: 2px solid yellow;
  // }
  & p.woocommerce-result-count{
    color: color(shark);
    margin: .5rem auto;
    display: none; //hasta que no esté traducido
  }
  & form.woocommerce-ordering{ //formulario orden predeterminado
    // border: 2px solid green;
    width: 100%;
    @include mq(md){
      position: relative;
      width: 70%;
      right: 0;
      @include mq(lgs){
        width: 40%;
      }
    }
    & .orderby{
      width: 100%;
    }
  }
  & ul.products.columns-3{ //caja de lista de productos
    display: grid;
    grid-template-columns: var(--columns-tienda-products);
    // border: 2px solid pink;
    height: 100%;
  }
}

#text-2{
  width: var(--main-maximo);
  margin: auto;
  // border: 2px solid blue;
  margin-bottom: 2rem;
}

#text-2 > h3{
  display: none;
  color: color(secondary);
  text-align: center;
  position: relative;
  font-size: var(--font-size-titulo-tienda);
  &:before{
    content: "";
    width: 37%;
    height: var(--lineas-titulo-tienda);
    position: absolute;
    top: 50%;
    left: 0;
    background-color: color(primary)
  }
  &:after{
    content: "";
    width: 37%;
    height: var(--lineas-titulo-tienda);
    position: absolute;
    top: 50%;
    right: 0;
    background-color: color(primary);
  }
}

.mostrar{
  display: block !important;
  margin-top: -1rem;
  @include mq(md){
    margin-top: 1rem;
  }
  @include mq(lgs){
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.ocultar{
  display: none;
}

.woocommerce-products-header__title.page-title{
  color: color(everglade);
}
ul.products.columns-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  &::before{
    display: none;
  }
  & > li.product.type-product{
    margin: 0 !important;
    width: 100% !important;
    // box-shadow: $sombra-plana;
    background-color: color(bg);
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    // border: 1px solid red;
    // padding: .5rem 0 0;
    overflow: hidden;
    &:hover{
      // transform: scale(1.03);
      z-index: capa(capa5);
    }
    & img{
      display: block;
    }
    & > a > span.price{
      text-align: center;
      position: relative;
      &:before{
        content: "Por Kilo";
        position: absolute;
        color: color(primary);
        top: 0;
        right: 0;
        left: 10rem;
      }
      & > span{
        color: color(shark);
      }
    }
    & > a.button{
      border-radius: 15px;
      display: block;
      text-align: center;
      width: 90%;
      max-width: 250px;
      font-size: .9rem;
      margin: 1rem auto 1.5rem;
      padding: .8rem 0;
      color: white;
      background-color: color(success);
      &:hover{
        background-color: darken(color(success), 5)
      }
    }
  }
}

.woocommerce-loop-product__title{
  text-align: center;
  color: color(everglade);
}

// //Precios en tienda
// span.price{
//   text-align: center;
// }
// .woocommerce-Price-amount.amount{
//   color: black;
// }

#text{
  text-decoration-line: none;
}

.button.product_type_simple.add_to_cart_button{
  color: color(satin);
  background-color: color(cta);
  margin: auto;
  width: 90%;
  max-width: 180px;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  transition: background-color .5s ease;
  padding: .7rem;
  border-radius: 1.3rem;
  &:hover{
    background-color: darken(color(cta),5);
    color: color(satin)!important;
  }
  &:active{
    transform: scale(.95);
  }
}

form.woocommerce-ordering > select{
  border: 1px solid color(secondary);
  outline: none;
  padding: .5rem;
  border-radius: .5rem;
  background-color: white;
  color: color(shark);
  & option{
    width: 100%;
  }
}
