.Footer{
  width: 100%;
  max-width: $ancho-maximo;
  margin: auto;
  background: $fondo-footer;
}

.Contacto-footer{
  // border: 1px solid red;
  padding: 1rem 0;
  margin-top: 1rem;
  &-item{
    display: flex;
    padding: 1rem 0;
    & i{
      font-size: 1.5rem;
      color: color(secondary);
      padding-right: .5rem;
    }
    & p{
      color: color(success);
      font-size: 1.2rem;
    }
  }
}

#ButtonTop{
  position: fixed;
  bottom: 180px;
  right: 40px;
  z-index: capa(capa10);
  border: 2px solid red;
  display: none;
}
