// Pasar a mixin

@mixin text($size, $color, $bg-color){
  font-size: $size;
  color: $color;
  background-color: $bg-color;
}

.Small-text{
  @include text(var(--font-size-small-text), color(small-text), color(bg-small-text) );
}

.Link-text{
  @include text(var(--font-size-link-text), color(link-text), color(bg-link-text));
  transition: color .3s ease;
  &:hover{
    color: color(hover-link-text);
  }
}
