// Variables

//Mixins

@mixin con-aside{
  display: grid;
  margin: auto;
  max-width: var(--main-maximo);
  grid-gap: var(--gap-aside);
  grid-template-columns: var(--columns-aside);

}


.Container-central{
  // border: 2px solid blue;
  display: grid;
  grid-template-columns: var(--columns-container-central);
  width: var(--main-maximo);
  max-width: $ancho-maximo;
  min-height: 20rem;
  margin: var(--margen-header) auto 4rem;
  grid-gap: 1rem;
}

body.product-template-default.single > .Container-central{
  grid-gap: 0;
}

body.home > .Container-central{
  grid-gap: 0;
  margin-bottom: .5rem;
}

body.woocommerce-cart > .Container-central{
  grid-gap: 0;
}

body.woocommerce-checkout > .Container-central{
  grid-gap: 0;
  margin-top: 7rem;
}

body.woocommerce-account > .Under-header{
  display: none;
}
