// Refactorizar

.Header-container{
  position: relative;
  margin: 0 auto;
  width: var(--main-maximo);
  @include mq(lgs){
    display: flex;
  }
}

.Logo{
  position: absolute;
  height: $altura-header;
  line-height: $altura-header;
  z-index: capa(capa1);
  // border: 1px solid red;
  @include mq(mdl){
    position: static;
    width: 50%;
  }
  & a{
    display: grid;
    width: var(--ancho-logo);
    height: $altura-header;
    align-content: center;
  }
  & img{
    width: 100%;
    height: auto;
  }
}

.hamburger{
  &:hover{
    opacity: 1;
  }
  &:focus{
    outline: 0;
    border: 0;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: black;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after{
  background-color: white;
}



.Panel{
  position: fixed;
  z-index: capa(capa9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  transition: transform .5s ease;
  // De arriba
  // transform: translate(0, -100%);
  // // De la izquierda
  // transform: translate(-100%, 0);
  // // De abajo
  // transform: translate(0, 100%);
  // De la derecha
  transform: translate(100%, 0);
  @include mq(lgs){
    position: static;
    width: 60%;
    display: flex;
    overflow-y: visible;
    background-color: transparent;
    transform: translate(0,0);
  }
  &.is-active{
    transform: translate(0,0);
  }
  &-btn{
    position: absolute;
    z-index: capa(capa10);
    top: -.5rem;
    right: 0;
    padding-right: 0;
    @include mq(lgs){
      display: none;
    }
  }
}

.Menu{
  margin: 0 auto;
  padding-top: $altura-header;
  text-align: center;
  height: 100%;
  background: color(secondary);
  @include mq(lgs){
    width: 100%;
    padding-top: 0;
    height: $altura-header;
    background: transparent;
  }
  & ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    @include mq(lgs){
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  & li{
    margin-left: 0;
    @include mq(lgs){
      margin-left: .5rem;
    }
  }
  & a{
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
    @include mq(lgs){
      padding: 0 .5rem;
      font-size: 1rem;
      color: black;
    }
    @include mq(lgm){
      font-size: 1.3rem;
    }
    &:hover{
      background-color: color(secondary);
    }
  }
}
